body {
	background: #1b1e23;
	font-family: tahoma, verdana, sans serif;
  color:#fafafa;
}

canvas {
  display: block;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
	background: #fafafa;
  border-right: 1px solid #fafafa;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#instructions {
  display: flex;
  flex-flow: column nowrap;
  width: 1075px;
}
#instructions > * {
  margin: 5px 0;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
h1 {
  margin: .25em 0 0 0;
}

#sidebyside {
  margin: 2rem auto;
  display:flex;
  justify-content: center;
}

#controls{
  display: grid;
  justify-content: left;
  align-items: left;
  width: 285px;
  background-color: #2B2D2F;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}

.input {
  width: 100%;
  padding: .5em;
  margin-top: .5rem;
}

#trackSelect {
  max-width: 15em;
}

#volumeSlider {
  width: 50%;
}

#volumeLabel{
  margin-left: 1rem;
}

section{
  margin-bottom: 1rem;
}

#playButton{
  font-size: 1.2rem;
  width: 4rem;
  height: 2rem;
}
#fsButton {
  height: 2rem;
}

#songUpload {
  display: none; 
}

label[for=songUpload]
{
  background-color: white;
  color: black;
  border: solid black 1.4px;
  font-size: 0.8em;
  padding: 0 8px;
}

#fileUpload {
  display: flex;
  flex-flow: row nowrap;
  width: max-content;
  justify-content: space-between;
  padding: 0;
}

#fileUpload > * {
  margin-right: 12px;
}

button[data-playing="yes"]:after{
  content: "□";
}

button[data-playing="no"]:after{
  content: "▷";
}

#fsButton{
  font-size: 1.2rem;
  width: 8rem;
}

#BPM {
  margin-top: .5em;
}