body {
	background: #1b1e23;
	font-family: tahoma, verdana, sans serif;
  color:#fafafa;
}

canvas {
  display: block;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
	background: #fafafa;
  border-right: 1px solid #fafafa;
}

#sidebyside {
  margin: 2rem auto;
  display:flex;
  justify-content: center;
}

#controls{
  display: grid;
  justify-content: left;
  align-items: left;
  width: 275px;
  background-color: #2B2D2F;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}

.input {
  width: 100%;
  padding: .5em;
  margin-top: .5rem;
}

#trackSelect {
  max-width: 15em;
}

#volumeSlider {
  width: 50%;
}

#volumeLabel{
  margin-left: 1rem;
}

section{
  margin-bottom: 1rem;
}

#playButton{
  font-size: 1.2rem;
  width: 4rem;
}

button[data-playing="yes"]:after{
  content: "⏼︎";
}

button[data-playing="no"]:after{
  content: "▷";
}

#fsButton{
  font-size: 1.2rem;
  width: 8rem;
}

#BPM {
  margin-top: 1em;
}